# Copy this file to .env and fill in your values

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=49b16ed3ff0d8209f2a3da300341283b
CLOUDFLARE_API_TOKEN=your_api_token_here

# API URL
VITE_API_URL=https://api.magicbox.bankapirak.com

# Database
DATABASE_ID=846b28b9-2aac-49a5-a3fa-8ad7cf925d9f
